.detail-input {
  position: relative;
  width: 80%;
  margin: 0 auto;
  font-size: calc(100vw/50); 
  margin-top: 5%;
  span {
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translate(0, -50%);
  }
  input {
    padding: 2.5% 0;
    font-size: calc(100vw/50); 
    padding-left: calc(100vw/10);
    width: 80%;
    border: 0;
  }
  .description {
    padding: 5%;
  }
}
.button-section {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 5% 0;
  button {
    display: block;
    margin: 0 auto;
    width: 45%;
    border-radius: 80px;
    padding: 3% 0;
    font-size: calc(100vw/35);
    border: 0px;
    color: white;
    font-weight: bold;
     &:nth-child(1){
      background: #e5e5e5;
    }
    &:nth-child(2){
      background: #4aa9ee;
    }
  }
}
.error {
  display: block;
  color: red;
  font-size: calc(100vw/50);;
  margin: 0 auto;
  text-align: left;
  width: 80%;
}